.c-anchor {
  color: var(--color-theme);
  text-decoration: none;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 1px;
    background: var(--color-theme);
    transform: scale(0, 1);
    transform-origin: right top;
    transition: transform 400ms;
  }

  &:hover::before {
    transform-origin: left top;
    transform: scale(1, 1);
  }
}
