.l-content {
  margin-top: 80px;

  &__section {
    & + & {
      margin-top: 80px;

      &--lined {
        padding-top: 80px;
        border-top: solid 1px var(--bdc-tertiary);
      }
    }

    &--centered {
      text-align: center;
    }
  }

  &__body {
    margin-top: 20px;
  }
}
