/*
<div class="l-content">
  <div class="l-content__section">
    <h2>title</h2>
    <div class="l-content__body">
      Lorem ipsum dolor sit amet.
    </div>
  </div>
  <div class="l-content__section l-content__section--lined">
    <h2>title</h2>
    <div class="l-content__body">
      Lorem ipsum dolor sit amet.
    </div>
  </div>
</div>
*/

.l-content {
  margin-top: 80px;

  &__section {
    & + & {
      margin-top: 80px;

      &--lined {
        padding-top: 80px;
        border-top: solid 1px var(--color-borer-tertiary);
      }
    }

    &--centered {
      text-align: center;
    }
  }

  &__body {
    margin-top: 20px;
  }
}
