.bar-graph {
  position: relative;
  width: 100%;
  height: 15px;
  background-color: var(--color-bg-primary);
}

.bar {
  width: 0;
  height: inherit;
  background-color: #2ecc71;
  transition: width 900ms ease-in;
  transition-delay: 600ms;
}
