.works {
}

.overall-description {
}

.detail-description {
  margin-top: 30px;
}

.project {
  margin-top: 30px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -20px;
  margin-left: -2%;
}

.item {
  flex-basis: calc(33.3% - 2%);
  margin-top: 20px;
  margin-left: 2%;
}

.anchor {
  color: var(--color-font-primary);
  text-decoration: none;
}

.figure {
  cursor: pointer;
}

.thumbnail {
  overflow: hidden;
  border: solid 1px var(--color-borer-tertiary);
}

.image {
  transition: transform 400ms;
}

.no-image {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3d3d3d;
  color: #fff;
  transition: transform 400ms;

  &::before {
    content: "";
    display: block;
    padding-top: 75%;
  }
}

.caption {
  font-family: "Yanone Kaffeesatz", sans-serif;
  margin-top: 3px;
}

.detail:hover .thumbnail {
  border-color: var(--color-theme);
}

.detail:hover .image,
.detail:hover .no-image {
  transform: scale(1.05);
}

.detail:hover .caption {
  color: var(--color-theme);
}

@media (--mq-mobile) {
  .item {
    flex-basis: calc(50% - 2%);
  }
}
