.description {
}

.graph-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -20px;
  margin-left: -20px;

  &__item {
    width: calc(50% - 20px);
    margin-top: 20px;
    margin-left: 20px;
  }

  &__title {
  }

  &__graph {
    margin-top: 5px;
  }
}

.detail-list {
  margin-top: 30px;
}

.tool-list {
  margin-top: -10px;
  margin-left: -10px;

  &__item {
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
  }
}

.tool-description {
  margin-top: 20px;
}
