.drawer-menu {
}

.nav {
  width: 250px;
  height: 100%;
  background-color: var(--color-theme);
  position: fixed;
  top: 0;
  right: 0;
  z-index: var(--z-index-drawer-menu);

  &-enter-active,
  &-leave-active {
    transition: right 400ms;
  }

  &-enter,
  &-leave-to {
    right: -230px;
  }
}

.icon-x {
  width: 30px;
  color: #fff;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: auto;
  cursor: pointer;
}

.title {
  color: #fff;
  margin-top: 20px;
  margin-left: 20px;
}

.items {
  color: #fff;
  margin-top: 20px;
  border-top: solid 1px #fff;
}

.item {
  border-bottom: solid 1px #fff;
}

.anchor {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 15px 20px;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: #000;
  position: fixed;
  top: 0;
  opacity: 0.6;

  &-enter-active,
  &-leave-active {
    transition: opacity 400ms;
  }

  &-enter,
  &-leave-to {
    opacity: 0;
  }

  &-enter-to,
  &-leave {
    opacity: 0.6;
  }
}
