.l-container {
  margin-top: 80px;
}

.l-content {
  margin-top: 100px;
}

.l-section + .l-section {
  margin-top: 80px;

  &--lined {
    padding-top: 80px;
    border-top: solid 1px var(--bdc-tertiary);
  }
}
