.hero {
  margin-top: -80px;
}

.description {
}

.summary-list {
  margin-top: 30px;
}

.anchor {
  display: inline-block;
  margin-top: 30px;

  &:hover {
    opacity: 0.6;
  }
}

.image-list {
  margin-top: 60px;

  &__item {
    margin-right: auto;
    margin-left: auto;

    & + & {
      margin-top: 60px;
    }

    &--large {
      max-width: 850px;
    }

    &--small {
      max-width: 320px;
    }
  }
}
