.work {
  &__summary-list {
    margin-top: 30px;
  }

  &__summary-title {
    font-weight: bold;
  }

  &__summary-text + &__summary-title {
    margin-top: 15px;
  }

  &__button-anchor {
    margin-top: 30px;
    display: inline-block;

    &:hover {
      opacity: 0.6;
    }
  }

  &__images {
    margin-top: 60px;
  }

  &__image-item {
    margin-right: auto;
    margin-left: auto;

    & + & {
      margin-top: 60px;
    }

    &--large {
      max-width: 850px;
    }

    &--small {
      max-width: 320px;
    }
  }
}
