.work {
  &__summary-list {
    margin-top: 30px;
  }

  &__summary-title {
    font-weight: bold;
  }

  &__summary-text + &__summary-title {
    margin-top: 10px;
  }

  &__images {
    margin-top: 60px;
  }

  &__image-item {
    margin-right: auto;
    margin-left: auto;

    & + & {
      margin-top: 60px;
    }

    &--large {
      max-width: 1000px;
    }

    &--small {
      max-width: 320px;
    }
  }
}
