.top {
}

.description {
}

.point-list {
  list-style: disc;
  padding-left: 20px;
  line-height: var(--lh-large);

  &__item {
  }
}

.profile {
  display: flex;

  &__image {
    flex: none;
    border-radius: 50%;
    width: 180px;
    height: 180px;
    overflow: hidden;
  }

  &__body {
    margin-left: 30px;
  }

  &__name,
  &__job {
    font-weight: normal;
  }

  &__sns-list {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }

  &__sns-item + &__sns-item {
    margin-left: 10px;
  }

  &__anchor {
    display: block;

    &:hover {
      opacity: 0.6;
    }
  }

  &__github {
    display: block;
    color: #000;
    width: 30px;
    height: 30px;
  }

  &__qiita {
    display: block;
    height: 20px;
  }

  &__summary {
    margin-top: 20px;
  }
}

@media (--mq-mobile) {
  .profile {
    flex-direction: column;

    &__body {
      margin-top: 20px;
      margin-left: 0;
    }

    &__image {
      margin-right: auto;
      margin-left: auto;
    }
  }
}
