.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-index-header);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 15%;
  padding-left: 15%;
  width: 100%;
  height: var(--layout-header-height);

  &--white {
    color: #fff;
  }
}

.logo {
  font-weight: bold;
  font-size: var(--fs-xxx-large);
  font-family: "Yanone Kaffeesatz", sans-serif;
}

.anchor {
  color: inherit;
  text-decoration: none;
}

.icon-three-bars {
  width: 26px;
  cursor: pointer;
}

@media (--mq-tablet) {
  .header {
    padding-right: 5%;
    padding-left: 5%;
  }
}

@media (--mq-mobile) {
  .header {
    padding-right: 20px;
    padding-left: 20px;
  }
}
